<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Articles Tab -->
  <ion-tab title="Articles" icon-off="ion-ios-book" icon-on="ion-ios-book-outline" href="#/tab/articles">
    <ion-nav-view name="tab-articles"></ion-nav-view>
  </ion-tab>

  <!-- Categories Tab -->
  <ion-tab title="Categories" icon-off="ion-ios-paper" icon-on="ion-ios-paper-outline" href="#/tab/categories">
    <ion-nav-view name="tab-categories"></ion-nav-view>
  </ion-tab>

   <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-person" icon-on="ion-ios-person-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>